@import "styles/mixins/icon-mixin";

.ui-icon {
    @include icon-mixin;

    &--offer {
        width: 50px;
        min-width: 50px;
    }

    &--offer-toggled {
        width: 70px;
        height: 22px;
        min-width: 70px;
    }
}
