.navigation {
    position: relative;
    background-color: $white;
    box-shadow: 0 0 4px 0 $actual-black-opacity-30;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 70px;
        margin: 0 auto;
        flex-flow: column wrap;

        @include mobile {
            max-width: $breakpoint-tablet-xs;
            padding: 20px 16px 15px;
            align-items: unset;
        }

        @include small-mobile {
            padding: 20px 4px 15px;
        }
    }

    &__link {
        display: inline-block;
        color: $black;
        text-decoration: none;
        background-color: transparent;

        &:hover {
            text-decoration: none;
        }
    }

    &__upper-wrapper {
        border-bottom: 1px solid $mid-grey;
    }

    &__upper, &__middle, &__bottom {
        max-width: $breakpoint-desktop-m;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__upper-wrapper, &__middle-wrapper, &__bottom-wrapper {
        width: 100%;

        @include large-desktop {
            max-width: 1280px;
        }

        @media only screen and (min-width: $breakpoint-desktop-m) and (max-width: 1315px) {
            width: calc(100% - 60px);
            margin-right: auto;
        }

        @include small-desktop {
            padding-left: 16px;
            width: calc(100% - 60px);
            margin-right: auto;
        }

        @include tablet {
            padding-left: 10px;
            width: calc(100% - 60px);
            margin-right: auto;
        }
    }

    &__upper-list, &__middle-list, &__bottom-list {
        display: flex;
        padding-left: 0;
        margin: 0;
        list-style: none;
    }

    &__upper-list-item, &__middle-list-item, &__bottom-list-item {
        border-right: 1px solid transparent;
    }

    &__bottom {
        margin-bottom: 22px;

        .navigation__link {
            @include mobile {
                padding: 0;
            }
        }

        @include mobile {
            margin-top: 20px;
            margin-bottom: 0;
        }
    }

    &__bottom-list {
        @include mobile {
            width: 100%;
            display: grid;
            grid-template-columns: auto auto auto auto;
        }
    }

    &__bottom-list-item {
        font-size: 18px;
        font-family: $font-family;
        text-transform: capitalize;
        position: relative;

        @include mobile {
            font-size: 16px;

            &:nth-child(2), &:nth-child(3) {
                margin-left: auto;
                margin-right: auto;
            }

            &:nth-child(4) {
                text-align: end;
            }

            &--active {
                &::after {
                    display: none;
                }
            }
        }

        & + .navigation__bottom-list-item {
            margin-left: 23px;

            @include tablet {
                margin-left: 15px;
            }

            @include mobile {
                margin-left: 0;
            }
        }

        &--active {
            font-family: $font-family-semibold;

            &::after {
                content: "";
                width: 0;
                height: 0;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-bottom: 8px solid $black;
                bottom: -22px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    &__bottom-list-left, &__bottom-list-right {
        display: flex;
        padding-left: 0;
        margin: 0 0 0 8px;
        list-style: none;
        text-transform: capitalize;
    }

    &__bottom-list-right {
        margin-left: auto;
    }

    &__bottom-list-right-item {
        font-size: 18px;
        font-family: $font-family;
        position: relative;

        & + .navigation__bottom-list-right-item {
            margin-left: 23px;

            @include tablet {
                margin-left: 15px;
            }
        }

        .navigation__link-icon {
            margin-left: 8px;

            span {
                display: inline-block;
                vertical-align: middle;
            }
        }

        &--active {
            font-family: $font-family-semibold;
        }
    }

    &__middle {
        margin-top: 20px;
        margin-bottom: 15px;
    }

    &__middle-search-bar {
        margin-left: auto;
        margin-right: 25px;
    }

    &__middle-list {
        align-items: center;
        margin-left: 8px;
    }

    &__middle-list-item {
        justify-self: start;
    }

    &__upper {
        margin-right: auto;
        margin-left: auto;

        @include mobile {
            align-items: center;
            margin: 0;

            .search-bar__btn-icon {
                margin-left: auto;
                margin-right: 32px;
            }
        }
    }

    &__upper-list {
        width: 100%;
        display: flex;
        align-items: center;

        .navigation__link {
            padding: 8px;

            @include tablet {
                padding: 8px 11px;
            }
        }

        .navigation__link-icon {
            margin-right: 5px;

            span {
                display: inline-block;
                vertical-align: middle;
            }
        }

        .navigation__link-with-icon {
            display: flex;
            align-items: center;
        }
    }

    &__upper-list-item-divider {
        &::after {
            content: "";
            display: inline;
            position: relative;
            top: 0;
            bottom: 0;
            margin: auto;
            border-left: 1px solid $mid-grey;
        }

        &:nth-child(7) {
            &::after {
                display: none;
            }
        }
    }

    &__upper-betslip-icon {
        @include mobile {
            margin-right: 32px;
        }
    }

    &__upper-list-item {
        font-family: $font-family-semibold;
        font-size: 12px;
        text-transform: uppercase;
        color: $darker-grey;

        &:first-child {
            margin-left: auto;
        }

        &:nth-child(7) {
            .navigation__link {
                padding-right: 0;
            }

            .navigation__upper-list-item-divider {
                display: none;
            }
        }
    }

    &__bottom-list-left > li:first-child::after {
        display: none;
    }
}
