.navigation-tabs {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid $mid-grey;

    &__container {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $mid-grey;
        margin: auto;
        padding: 0 8px;

        @include small-tablet-tbr {
            padding: 0;
        }

        @include desktop {
            margin-top: 30px;
            max-width: 1280px;
        }

        @include tablet {
            margin-top: 30px;
        }

        @include mobile {
            max-width: 480px;
        }
    }

    &__tab {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 120px;
        margin-bottom: -1px;
        border: 1px solid $mid-grey;
        font-family: $font-family-semibold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: $dark-grey;
        position: relative;

        hr {
            display: none;
        }

        &:hover {
            cursor: pointer;
        }

        &--active {
            background-color: $white;
            color: $black;
            border: none;
            z-index: 1;

            hr {
                display: block;
                position: absolute;
                width: 101%;
                top: 0;
                color: $beacon-blue;
                background-color: $beacon-blue;
                border: 1.5px solid;
                margin: -2px;
                left: 1.5px;
            }

            &:hover {
                cursor: default;
            }

            &::before, &::after {
                content: " ";
                height: 100%;
                position: absolute;
                top: 0;
                width: 6.5px;
            }

            &::before {
                @media not all and (min-resolution: 0.001dpcm) { // Safari (10.1+)
                    box-shadow: -3px 0 2px -2px $actual-black-opacity-20 inset;
                }

                box-shadow: -6.5px 0 6.5px -6.5px $actual-black-opacity-20 inset;
                left: -6.5px;
            }

            &::after {
                @media not all and (min-resolution: 0.001dpcm) { // Safari (10.1+)
                    box-shadow: 2.5px 0 2.5px -1.5px $actual-black-opacity-20 inset;
                }

                box-shadow: 6.5px 0 6.5px -6.5px $actual-black-opacity-20 inset;
                right: -6.5px;
            }
        }
    }
}
