@import "styles/mixins/next-image-mixin";
@import "styles/mixins/container-mixin";

.responsible-gambling-images {
    border-top: 1px solid $mid-grey;

    &__content {
        @include container-new-breakpoints;

        margin: 25px auto;
        display: flex;
        align-items: center;

        @include mobile {
            display: block;
            max-width: 344px;
            margin: 14px auto 0;
        }

        @include tablet {
            margin-left: 16px;
        }
    }

    &__link {
        @include tablet {
            &:not(:last-child) {
                margin-right: 37px;
            }
        }

        @include desktop {
            &:not(:last-child) {
                margin-right: 37px;
            }
        }

        @include mobile {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 8px 8px 0;

            &:first-child {
                width: 164px;
                height: 28px;
                margin: 0 auto 10px;
            }

            &:not(:first-child) {
                width: 168px;
                height: 48px;
                border: solid 1px $mid-grey;
                border-radius: 3px;
            }

            &:nth-child(2), &:nth-child(4), &:nth-child(6) {
                float: left;
            }
        }

        @include small-mobile {
            &:not(:first-child) {
                width: 48% !important;
            }
        }
    }

    &__logo {
        @include next-image;

        display: block;
        position: relative;
    }

    &__logo-gamble-responsibly {
        width: 122px;
        height: 21px;
    }

    &__logo-gam-stop {
        width: 72px;
        height: 13px;

        @include mobile {
            width: 60px;
            height: 11px;
        }
    }

    &__logo-be-gamble-aware {
        width: 99px;
        height: 10px;

        @include mobile {
            width: 80px;
            height: 8px;
        }
    }

    &__logo-gambling-therapy {
        width: 59px;
        height: 22px;
    }

    &__logo-gambling-commision {
        width: 64px;
        height: 17px;

        @include mobile {
            width: 89px;
            height: 24px;
        }
    }

    &__logo-raig {
        width: 69px;
        height: 22px;
    }

    &__logo-gamblers-anonymous {
        width: 35px;
        height: 22px;
    }
}
